
<div>
<h1>WELCOME TO YOUR DASHBOARD</h1>
<p>YOU CURRENTLY HAVE <strong> <%= @product_count %> </strong> PRODUCTS AVAILABLE.</p>
<p>FROM<strong> <%= @category_count %></strong> SHOPPING CATEGORIES.</p>

<div>
